@media only screen and (min-width: 880px) and (min-aspect-ratio:9/16) {

    div.page {
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Resources/Images/background.jpg);
    }
    div.content {
        background-color: inherit;
    }

    /*Menu*/
    div.menu {
        height:20vh;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;;
        background-color:#28363b;
        width:61vw;
        margin-left:18vw;
        padding:1vw;
        display:table;
    }

    div.logo {
        width:11vh;
        align-items: center;
        display:table-cell;
        vertical-align: center;
    }
    
    div.logo img {
        margin:0;
        width:20vh;
    }

    div.menu-button {
        width:calc((61vw - 20vh)/3);
        display:table-cell;
    }

    button.menu-button {
        height:20vh;
        border:none;
        background-color: inherit;
        color:white;
        font-size: 1.5em;
    }

    button.menu-button:hover {
        background-color: #252f33;
    }

    button.menu-button:active {
        background-color: #6b838c;
    }

    button.last-button {
        border-bottom-right-radius: 20px;
    }
    /*Fin du menu*/

    /*Contenu*/
    div.content {
        background:transparent;
        height:78vh;
        width:98vw;
    }
    /*Fin du contenu*/

}