@media (orientation : portrait) {

/*Menu*/

div.menu {
    width:100vw;
    align-items: center;
    background-color:#28363b;
}

div.name {
    display:none;
}

div.logo {
    width:100vw;
    align-items: center;
}

div.logo img {
    margin-left:calc((100vw - 400px)/2);
    width:400px;
    margin-bottom:30px;
}

div.menu-button {
    width:100%;
}

button.menu-button {
    width:100%;
    height:10vh;
    background-color: inherit;
    border:none;
    transition:0.2s;
    font-size:5vw;
    color:white;
}

button.menu-button:hover {
    background-color:#252f33;
}

button.menu-button:active {
    background-color:#6b838c;
}

/*Fin du menu*/

/*Content*/

div.content {
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Resources/Images/background.jpg);
}

/*Content end*/

}