tr th.name{
	width: 20%;
}

tr th.description{
	width: 60%;
}

tr th.button{
	width: 20%;
}

table {
	align-items: center;
	width: 100vw;
	border: 1px;
}

table thead{
	background-color: blue;
	color: white;
}

tr{
	height: 60px;
}

table tbody tr th{
	color: black;
	background-color: white;
}

table tbody tr th.hidden{
	background-color: #c6c6c6;
}

header.tools{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Resources/Images/background.jpg);
	height: 50vh;
	background-size: cover;
	background-position: center;
}