
Tests/test.html
Tests/test.css
Tests/dropdown-test.css
Tests/dropdown-test.html
.vs/lasymandiris.github.io/config/applicationhost.config
.vs/lasymandiris.github.io/v16/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
